<!DOCTYPE html>
<html>
<head>
  <title>Skooter</title>
  <%= stylesheet_link_tag    "skooter/application", media: "all" %>
  <%= javascript_include_tag "skooter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
